# --- MPLAB X build folders ---
build/
dist/

# --- MPLAB X project private files ---
nbproject/private/

# Si quieres ignorar TODO el nbproject exceptuando config importantes
nbproject/*
!nbproject/Makefile-*
!nbproject/configurations.xml

# --- Archivos generados por compilación ---
*.o
*.d
*.elf
*.hex
*.map
*.s
*.su
*.dSYM/
*.pdb
*.obj
*.a
*.bin
*.out
*.exp
*.gch
*.pch

# --- Otros generados o temporales ---
*.log
*.tmp

# --- Editor / IDE basura ---
.vscode/
.idea/

# --- Python venv si alguna vez mezclas cosas ---
*.venv